$primary-color: #67c526;
$secondary-color: #818181;

a {color: $primary-color;}
a:hover {color: $secondary-color;}
h1, h2, h3, h4, h5, h6 {color: $secondary-color;}
h3 {
    font-size: 1.1rem;
    font-weight: bold;
}

::placeholder {@extend .font-italic;}

table {
    @extend .table;
    @extend .table-sm;
}

.btn-link {color: $primary-color;}
.btn-link:hover {color: $secondary-color;}

.text-sm {font-size: 0.9rem;}
.text-md {font-size: 1.2rem;}

.hagrec-text-primary {color: $primary-color;}
.hagrec-text-secondary {color: $secondary-color;}

.hagrec-bg-primary {background-color: $primary-color;}
.hagrec-bg-secondary {background-color: $secondary-color;}

.hagrec-label {
    @extend .d-inline-block;
    @extend .hagrec-text-primary;
    width: 60px;
}

.signed-in-administrator {margin: 0 0 -2rem 10rem;}
.top-toolbar {margin-bottom: -2rem;}

.hagrec-main-menu {
    margin-left: 6rem;
    margin-top: -2rem;
}
.miltek-main-menu {
    margin-left: 8rem;
    margin-top: -3rem;
}

@include media-breakpoint-down(xs) {
    .signed-in-administrator {margin: 0;}
    .top-toolbar {margin-bottom: auto;}
}

@include media-breakpoint-down(md) {
    .hagrec-main-menu {
        margin-left: auto;
        margin-top: auto;
    }
    .miltek-main-menu {
        margin-left: auto;
        margin-top: auto;
    }
    .products-list .card {width: 100%;}
}

.breadcrumb {background-color: transparent !important;}

.hagrec-main-logo {
    background: url('../images/general/hagrec_logo.png') no-repeat center left;
    height: 130px;
    width: 305px;
}
.miltek-main-logo {
    background: url('../images/general/miltek_logo.png') no-repeat center left;
    height: 138px;
    width: 114px;
}

.contact-details {
    background: url(../images/general/logo_arrow.png) no-repeat 20px center;
    padding: 40px 80px;
}

$tab-content-border-color: #dee2e6;
.tab-content {
    border-bottom: 1px solid $tab-content-border-color;
    border-left: 1px solid $tab-content-border-color;
    border-right: 1px solid $tab-content-border-color;
    padding: 0 10px;
}

.reference {
    max-width: 250px;
}