<template>
    <draggable v-model="consumables" @end="update" class="row consumables-list">
        <div class="card text-center m-3" v-for="consumable in consumables" :key="consumable.id">
            <div class="card-body">
                <a :href="consumable.url">
                    <img class="img-fluid" :src="consumable.image" :alt="consumable.name" />
                </a>
            </div>

            <div class="card-footer">
                <a class="card-title card-link" :href="consumable.url">{{ consumable.name }}</a>
            </div>
        </div>
    </draggable>
</template>

<script>
    import draggable from 'vuedraggable';

    export default {
        components: {draggable},

        data() {
            return {
                consumables: []
            }
        },

        methods: {
            update() {
                axios.put('consumables', {
                    consumables: this.consumables
                });
            }
        },

        created() {
            axios.get('/fr/consommables?json')
            .then(({data}) => {
                this.consumables = data;
            });
        }
    }
</script>