<template>
    <draggable v-model="products" @end="update" class="row products-list">
        <div class="card text-center m-3" v-for="product in products" :key="product.id">
            <div class="card-body">
                <a :href="product.url">
                    <img class="img-fluid" :src="product.image" :alt="product.name" />
                </a>
            </div>

            <div class="card-footer">
                <a class="card-title card-link" :href="product.url">{{ product.name }}</a>
            </div>
        </div>
    </draggable>
</template>

<script>
    import draggable from 'vuedraggable';

    export default {
        components: {draggable},

        data() {
            return {
                products: []
            }
        },

        methods: {
            update() {
                axios.put('products', {
                    products: this.products
                });
            }
        },

        created() {
            axios.get('/fr/produits?json')
            .then(({data}) => {
                this.products = data;
            });
        }
    }
</script>