<template>
    <div class="row ml-1">
        <draggable v-model="references" @end="updateAll" class="references-list row">
            <reference v-for="(reference, index) in references"
                       :key="reference.id"
                       :reference="reference"
                       @delete="destroy($event)">
            </reference>
        </draggable>

        <div class="card admin-reference text-center m-3" style="width:200px;" v-if="!inserting && references.length">
            <div class="card-body">
                <button type="button" class="btn btn-link" @click="inserting = true">
                    <i class="fas fa-plus" style="font-size: 4em"></i><span class="sr-only ml-2">Ajouter</span>
                </button>
            </div>
        </div>

        <reference v-if="inserting" :reference="newReference" @undo="undo()" @inserted="inserted($event)"></reference>
    </div>
</template>

<script>
    import draggable from 'vuedraggable';
    import Reference from './Reference';

    export default {
        components: {draggable, Reference},

        data() {
            return {
                newReference: {id: null, name: '', logo_path: '', sort_order: 9999},
                references: [],
                inserting: false
            }
        },

        methods: {
            undo() {
                this.newReference = {id: null, name: '', logo_path: '', sort_order: 9999};
                this.inserting = false;
            },

            inserted(reference) {
                this.references.push(reference);
                this.undo();
            },

            updateAll() {
                axios.put('references', {
                    references: this.references
                });
            },

            destroy(id) {
                axios.delete(`references/${id}`);
                this.references.splice(this.references.findIndex(reference => reference.id === id), 1);
            }
        },

        created() {
            axios.get('/fr/references?json')
            .then(({data}) => {
                this.references = data;
            });
        }
    }
</script>

<style>
</style>