<template>
    <div class="card reference admin-reference text-center m-3">
        <!-- Normal body -->
        <div class="card-body" v-if="!deleting && !editing && !inserting">
            <img class="card-img-top img-fluid" :src="image" :alt="reference.name" v-if="image">

            <div v-if="!image">
                <p class="my-0">
                    <i class="far fa-image reference-without-image image"></i>
                </p>

                <p v-text="reference.name" class="my-0 reference-without-image name"></p>
            </div>
        </div>

        <!-- Insert/edit current reference -->
        <div class="card-body" v-if="editing || inserting">
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text"
                           :id="`reference-${reference.id}-name`"
                           class="form-control"
                           :class="{'is-invalid': invalidName}"
                           placeholder="Nom..."
                           required
                           @change="duplicateName = false"
                           v-model="reference.name"
                           data-toggle="tooltip"
                           data-placement="bottom"
                           data-trigger="manual">
                </div>

                <div class="form-group">
                    <image-upload name="logo" @loaded="onLogoLoaded"></image-upload>
                </div>
            </form>
        </div>

        <!-- Confirm deletion -->
        <div class="card-body" v-if="deleting">
            <p>Etes-vous certain de vouloir supprimer cette référence ?</p>

            <p class="alert alert-danger">Cette action est irréversible !</p>
        </div>

        <!-- Footer for deletion -->
        <div class="card-footer" v-if="deleting">
            <button type="button" class="btn btn-link" @click="$emit('delete', reference.id)">
                <i class="far fa-check-circle"></i> Oui
            </button>

            <button type="button" class="btn btn-link" @click="deleting = false">
                <i class="far fa-times-circle"></i> Non
            </button>
        </div>

        <!-- Footer for editing -->
        <div class="card-footer" v-if="editing">
            <button type="button" class="btn btn-link" @click="save()" :disabled="invalidName">
                <i class="far fa-check-circle"></i> Oui
            </button>

            <button type="button" class="btn btn-link" @click="editing = false">
                <i class="far fa-times-circle"></i> Non
            </button>
        </div>

        <!-- Footer for inserting -->
        <div class="card-footer" v-if="inserting">
            <button type="button" class="btn btn-link" :disabled="invalidName" @click="save()">
                <i class="far fa-save" style="font-size: 1.2rem;"></i><span class="sr-only ml-2">Enregistrer</span>
            </button>

            <button type="button" class="btn btn-link" @click="$emit('undo')">
                <i class="fas fa-undo-alt"></i><span class="sr-only ml-2">Annuler</span>
            </button>
        </div>

        <!-- Normal footer -->
        <div class="card-footer" v-if="!deleting && !editing && !inserting">
            <button type="button" class="btn btn-link" @click="editing = true">
                <i class="far fa-edit"></i><span class="sr-only ml-2">Modifier</span>
            </button>

            <button type="button" class="btn btn-link" @click="deleting = true">
                <i class="far fa-trash-alt"></i><span class="sr-only ml-2">Supprimer</span>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['reference'],

        data() {
            return {
                image: this.reference.image,
                logo_path: this.reference.logo_path,
                editing: false,
                deleting: false,
                duplicateName: false,
                logo: null,
            }
        },

        methods: {

            save() {
                let url = this.inserting ? 'references' : `references/${this.reference.id}`;

                axios[this.inserting ? 'post' : 'put'](url, {
                    name: this.reference.name
                }).then(({data}) => {
                    this.undo();

                    if (!this.logo) {
                        this.$emit('inserted', data)
                    } else {
                        this.updateLogo(data.id);
                    }

                }).catch(() => {
                    this.duplicateName = true;
                    this.flash($(`#reference-${this.reference.id}-name`), 'Ce nom existe déjà !');
                });
            },

            undo() {
                this.editing = false;
                this.duplicateName = false;
            },

            flash($field, title) {
                $field.tooltip({title: title}).tooltip('show');

                setTimeout(() => $field.tooltip('hide'), 2000);
            },

            onLogoLoaded(logo) {
                this.logo = logo;
            },

            updateLogo(referenceId) {
                let formData = new FormData();

                formData.append('logo', this.logo.file);

                this.image = this.logo.src;

                axios.post(`references/${referenceId}/logo`, formData)
                    .then(({data}) => {
                        this.logo_path = data.logo_path;
                        this.logo = null;

                        if (this.inserting) this.$emit('inserted', data);
                    });
            },
        },

        computed: {
            invalidName() {
                return this.reference.name === '' || this.duplicateName;
            },

            inserting() {
                return this.reference.id === null;
            }
        },
    }
</script>

<style>
    .reference-without-image {color: #ccc;}

    .reference-without-image.image {font-size: 5em;}

    .reference-without-image.name {
        font-style: italic;
        font-weight: bold;
    }
</style>